<ion-header>
  <ion-toolbar color="fondo" class="ion-text-center">
    <h3><ion-icon name="qr-code-outline" slot="start"></ion-icon> Generar QR</h3>
  </ion-toolbar>
  <ion-toolbar color="fondo">
    <ion-buttons slot="start">
      <ion-back-button text="volver"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card class="ion-text-center" color="duoc">
      <ion-progress-bar *ngIf="cargando"  type="indeterminate" color="fondo"></ion-progress-bar>
      <ion-progress-bar *ngIf="finalizando"  type="indeterminate" color="fondo"></ion-progress-bar>
      <ion-row>
        <ion-col width="236">
          <qrcode *ngIf="v2"
          [qrdata]="qrCodeString"
          [width]="200"
          [errorCorrectionLevel]="'M'">
          </qrcode>
        </ion-col>
      </ion-row>
      <ion-card-content>
        <form action="" [formGroup]="formQr">
          <ion-row>
            <ion-col>
              <h3 *ngIf="v2">{{nombre}} {{sigla}}
              </h3>
              <ion-list *ngIf="v3">
                <ion-select formControlName="nombre" placeholder="Asignatura" style="border-radius:3em">
                  <ion-select-option  *ngFor="let r of this.api.obtenerRamosDatos()">{{r.nombre}} {{r.sigla}}</ion-select-option>
                </ion-select>
                <ion-note slot="error" color="danger" *ngIf="campo('nombre')?.invalid  && campo('nombre')?.errors && campo('nombre')?.errors.required && (fueTocado('nombre')|| v)">Campo obligatorio</ion-note>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="v4">
            <ion-col>
              <ion-button shape="round" color="light" size="small">
                <ion-icon name="calendar-outline" slot="start" color="fondo"></ion-icon>
                {{this.qr.fecha}}
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button shape="round" color="light" size="small">
                <ion-icon name="alarm-outline" slot="start" color="fondo"></ion-icon>
                {{this.qr.hora}}
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button *ngIf="!v4" (click)="GenerarQr()" expand="block" color="fondo" >
                Generar QR
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button  *ngIf="v4" (click)="finalizar()" expand="block" color="fondo" >
                Finalizar
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-grid>


</ion-content>
