<ion-header class="ion-text-center">
  <ion-toolbar color="fondo">
    <h1>Registr<span>APP</span></h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <p>Una nueva forma de asistencia</p>
      </ion-col>
    </ion-row>
    <form action="" [formGroup]="formularioLogin" style="justify-content: center;">
      <ion-row>
        <ion-col>
          <ion-item class="ion-padding-top">
            <ion-label position="floating" class="login-label">Usuario:</ion-label>
            <ion-input formControlName="usuario" class="ion-margin-top"><ion-icon name="person-sharp" color="fondo" class="ion-padding-end"></ion-icon></ion-input>
            <ion-note slot="error" *ngIf="campo('usuario')?.invalid  && campo('usuario')?.errors && campo('usuario')?.errors.required && fueTocado('usuario')">Obligatorio</ion-note>
            <ion-note slot="error" *ngIf="campo('usuario')?.invalid  && campo('usuario')?.errors && campo('usuario')?.errors.minlength" >Caracteres minimo</ion-note>
            <ion-note slot="error" *ngIf="campo('usuario')?.invalid  && campo('usuario')?.errors && campo('usuario')?.errors.maxlength" >Caracteres maximo</ion-note>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating" class="login-label">Contraseña:</ion-label>
            <ion-input type="password" formControlName="password" class="ion-margin-top"><ion-icon name="lock-closed" color="fondo" class="ion-padding-end"></ion-icon></ion-input>
            <ion-note slot="error" *ngIf="campo('password')?.invalid  && campo('password')?.errors && campo('password')?.errors.required && fueTocado('password')">Obligatorio</ion-note>
            <ion-note slot="error" *ngIf="campo('password')?.invalid  && campo('password')?.errors && campo('password')?.errors.minlength" >Caracteres minimo</ion-note>
            <ion-note slot="error" *ngIf="campo('password')?.invalid  && campo('password')?.errors && campo('password')?.errors.maxlength" >Caracteres maximo</ion-note>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button  mode="ios" expand="full" (click)="ingresar()" color="fondo" zise="small">Ingresar</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button mode="ios" expand="full"fill="clear" color="danger" [routerLink]="['registrarse']">Restablecer Contraseña</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
