h1{
  color: rgba(255, 184, 0, 1);
  span{
    color: #FFFFFF;
  }
}

h3{
  font-size: 20px;
}
ion-input{
  border: solid 1px var(--ion-color-primary);
  --color: #fff;
  --placeholder-color: #ddd;
  --placeholder-opacity: .8;

  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 10px;
}
