<ion-header class="ion-text-center">
  <ion-toolbar color="fondo">
    <h1>Registr<span>APP</span></h1>
  </ion-toolbar>
  <ion-toolbar color="fondo">
    <ion-buttons slot="start">
      <ion-back-button text="volver"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
<form action="" [formGroup]="formPassword">
  <ion-grid>
    <ion-card color="fondo">
      <ion-row>
        <ion-col class="ion-padding-top ion-text-center ">
          <img src="../../assets/icon/send.png" alt="" class="ion-text-center">
        </ion-col>
      </ion-row>
      <ion-card-header class="ion-text-center">
        <h3>Escribe tu correo para recuperar tu contraseña</h3>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <ion-row>
          <ion-col>
            <ion-input formControlName="email" placeholder="Correo" type="email" color="primary"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button  fill="outline" mode="ios" color="light" (click)="enviar()">Enviar</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</form>

</ion-content>
